@{
    Product p = ViewBag.product as Product;
    Product p2 = ViewBag.product2 as Product;
}

<h1>Show</h1>
<h2>@ViewBag.name @ViewBag.surname</h2>

<h4>JSON: @p?.Id - @p?.Name - $@p?.Price</h4>
<h4>BYTE: @p2?.Id - @p2?.Name - $@p2?.Price</h4>
